name: Release Lexical

on:
  push:
    tags:
      - v*
env:
  NAMESPACE: 1

jobs:
  release:
    runs-on: ubuntu-latest
    name: Build and release Lexical
    permissions:
      contents: write
    steps:
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: "24.3.4.12"
          elixir-version: "1.13.4-otp-24"
          version-type: "strict"

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache deps
        id: cache-deps
        uses: actions/cache@v3
        env:
          cache-name: cache-elixir-deps
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ env.cache-name }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ env.cache-name }}-

      - name: Install dependencies
        run: mix deps.get

      - name: Compile
        run: mix compile

      - name: Build release
        run: mix release lexical

      - name: Archive release
        run: |
          cd _build/dev/rel/lexical
          zip -r lexical.zip *
          cp lexical.zip ../../../../lexical.zip
          cp lexical.zip ../../../../lexical-${{ github.ref_name }}.zip

      - name: Publish release
        uses: ncipollo/release-action@v1
        with:
          artifacts: lexical*.zip
          makeLatest: true
          generateReleaseNotes: true
